ClienteWeb/Connected Services/ServicioReferencia1/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarTTiempo">
        <s:complexType />
      </s:element>
      <s:element name="ListarTTiempoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarTTiempoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarDepartamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarDepartamentoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarTTiempoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarTTiempo" />
  </wsdl:message>
  <wsdl:message name="ListarTTiempoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarTTiempoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarDepartamento" />
  </wsdl:message>
  <wsdl:message name="ListarDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="ListarTTiempo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mostrar Tabla TTiempo</wsdl:documentation>
      <wsdl:input message="tns:ListarTTiempoSoapIn" />
      <wsdl:output message="tns:ListarTTiempoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mostrar por Departamento</wsdl:documentation>
      <wsdl:input message="tns:ListarDepartamentoSoapIn" />
      <wsdl:output message="tns:ListarDepartamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTTiempo">
      <soap:operation soapAction="http://tempuri.org/ListarTTiempo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamento">
      <soap:operation soapAction="http://tempuri.org/ListarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTTiempo">
      <soap12:operation soapAction="http://tempuri.org/ListarTTiempo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDepartamento">
      <soap12:operation soapAction="http://tempuri.org/ListarDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="https://localhost:44302/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="https://localhost:44302/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>